{{ template "_internal/google_analytics.html" . }}
<!-- Partial intended to be overwritten to add CSS -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
<script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "Source.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}
    <a class="baselink" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
  {{end}}
{{end}}
